* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: center;
  background-color: #1b2034;
  color: aliceblue;
}

.app {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: aqua;
}

input,
textarea {
  appearance: none;
  outline: none;
  border: none;
  background: white;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

textarea {
  min-height: 100px;
}

button,
a {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  color: aqua;
  font-size: 1.5rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

img {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: 2rem auto;
}
